body{
    margin: 0%;
    padding: 0%;
}
#carouselExampleControls{
    width: 87%;
    margin: auto;
    background-image: url();
}
#alin{
    margin-top: -500px;
}
footer{
    width: 100%;
    height: 350px;

}
.icon i{
    gap: 5px;
    font-size: 28px;
    margin: 5px;
}

/* responsive css */
/* sm divice */
@media screen and (max-width:576px) {
    #bt{
        display: none;
    }
    .compane{
        display: none;
    }
}

/* lg devise */
@media screen and (min-width:577px) and (max-width:992px) {
    #bt{
       display: none;
    }
    .compane{
        display: none;
    }
}